<div
   class="hot-post"
    *ngFor="let i of [1,2,3,4]"
  >
  <img
    class="hot-post__img"
    src="https://picsum.photos/id/1072/2000"
    alt="{{i}}">
  <div class="hot-post__mask">
    <div class="mask__text">
      <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, maiores, possimus!
      </span>
    </div>
  </div>
</div>
