:host{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  border-radius: 10px;

  .hot-post{
    display: flex;
    width: 250px;
    height: 200px;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 10px;
  }

  .hot-post__img{
    width: 250px;
    height: 200px;
    position: absolute;
    z-index: -100;
    border-radius: 10px;
  }

  .hot-post__mask{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 250px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.41);
    border-radius: 10px;
    .mask__text{
      width: 100%;
      height: 100px;
      padding-left: 10px;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 10px;
    }
  }
}
