<app-filter
  class="sort"
  [sortDataBySmart]="sortDataBySmart"
  (sortByView)="sortByView($event)"
  >
</app-filter>
<div class="hot-news">
    <span>
      <mat-icon svgIcon="hot"></mat-icon>
      Hot news
    </span>
  <app-hot-news [hotNews]="post"></app-hot-news>
</div>
<div class="main_content">
  <div
    *ngIf="sortDataBySmart.view == 'compact'"
    class="news"
  >
      <mat-card
        class="post_compact"
        *ngFor="let item of post"
      >
      <img
        class="example-header-image"
        src="https://material.angular.io/assets/img/examples/shiba1.jpg"
      >
        <div class="post__content">
          <img
            class="content_image"
            mat-card-xl-image
            src="{{ item.mainImage }}">
          <mat-card-content>
            <mat-card-title>Dog create bock about cats</mat-card-title>
            <mat-card-subtitle>Tag: #Dog#Pes#Papich</mat-card-subtitle>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting. The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
              Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
              Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
            <mat-card-actions>
              <button
                mat-flat-button
                color="primary"
              >
                Read
              </button>
            </mat-card-actions>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  <div
    *ngIf="sortDataBySmart.view == 'classic'"
    class="news"
  >
    <mat-card
      class="post_classic"
      *ngFor="let item of post"
    >
      <mat-card-header>
        <mat-card-title>Dog create bock about cats</mat-card-title>
        <mat-card-subtitle>Tag: #Dog#Pes#Papich</mat-card-subtitle>
        <img
          class="example-header-image"
          src="https://material.angular.io/assets/img/examples/shiba1.jpg"
        >
      </mat-card-header>
        <img
          class="content_image"
          mat-card-lg-image
          src="{{ item.mainImage }}">
        <mat-card-content>

          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting. The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
            Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from
            Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
          <mat-card-actions>
            <button
              mat-flat-button
              color="primary"
            >
              Read
            </button>
          </mat-card-actions>
        </mat-card-content>
    </mat-card>

  </div>
  <div>
    <div class="hot-tag">
    <span>
      <mat-icon svgIcon="hot"></mat-icon>
      Popular tag
      <mat-icon svgIcon="hot"></mat-icon>
    </span>
      <mat-list>
        <mat-list-item>#Dog</mat-list-item>
        <mat-list-item>#Papich</mat-list-item>
        <mat-list-item>#Art</mat-list-item>
      </mat-list>
    </div>
    <div class="hot-tag">
    <span>
      <mat-icon svgIcon="hot"></mat-icon>
      Trending Communities
      <mat-icon svgIcon="hot"></mat-icon>
    </span>
      <mat-list>
        <mat-list-item>Cletka ansabov</mat-list-item>
        <mat-list-item>Dead inside goul</mat-list-item>
        <mat-list-item>Anime</mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
