:host{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;

  .hot-news{
    color: #3F51B4;
    margin-bottom: 10px;
    margin-top: 100px;
    mat-icon{
      color: red;
    }
  }
  .hot-tag{
    color: #3F51B4;
    width: 300px;
    height: 200px;
    background-color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin: 23px;

    mat-list-item{
      color: #3F51B4;
    }

    mat-icon{
      color: red;
      margin: 10px;
    }
  }
  .main_content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
  }
  .sort{
    width: 100%;
  }
  .news {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .post_compact{

    margin-top: 25px;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .post__content{
      display: flex;
      flex-direction: row;
    }

    .content_image {
      border-radius: 5px;
      width: 20%;
      margin: 10px 10px;
    }

    mat-card-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      width: 70%;
      margin-left: 30px;
    }
  }

  .post_classic{

    margin-top: 25px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .post__content{
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .content_image {
      border-radius: 5px;
      width: 95%;
      height: 500px;
      margin: 10px 10px;
    }

    mat-card-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      height: 100%;
      width: 70%;
      margin-left: 30px;
    }
  }

  .example-header-image {
    width: 50px;
    height: 50px;
    margin: 0 20px;
    border-radius: 50%;
    background-size: cover;
  }

  @media (max-width: 1400px) {
    .hot-tag {
      display: none;
    }

    .hot-news {
      display: none;
    }

    .post_compact{
      .post__content{
        display: flex;
        flex-direction: column;
      }
      .content_image {
        width: 100%;
        margin: 10px 0;
      }
      .example-header-image {
        display: none;
      }
    }
    .news {
      margin-top: 50px;
    }
  }
}
