<div>
  <form 
    [formGroup]="registrationForm" 
    (ngSubmit)="registrationForm.valid ? submitForm(registrationModel) : null" 
    class="auth"
  >
    <formly-form 
      [form]="registrationForm" 
      [fields]="registrationFields" 
      [model]="registrationModel"
    >
    </formly-form>
    <button
      class="submit-button"
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="registrationForm.invalid"
    >
      {{ 'auth.reg' | translate }}
    </button>
  </form>
</div>
