<div class="header_logo">
  <mat-icon
    class="sidenav"
    svgIcon="sidenav"
    aria-hidden="false"
    aria-label="sidenav"
    (click)="sidenav.toggle()"
  >
  </mat-icon>
  <span class="logo_item">
  </span>
  <div class="search">
    <mat-icon
      svgIcon="search"
    >
    </mat-icon>
    <input
      class="search_input"
      type="search"
      placeholder="Search"
    />
  </div>
</div>

<div class="header_button">

  <!-- TEMPLATE FOR DESKTOP -->
  <div class="desktop">
    <div *ngIf="headerSettings.authorizedUserData.role === userRole.GUEST">
      <button
        *ngFor="let button of headerModel"
        class="button"
        mat-flat-button
        (click)=button.handler()
        color="{{ button.color }}">

        <span>
          {{ button.name }}
        </span>
      </button>
    </div>

    <button
      *ngIf="headerSettings.authorizedUserData.role !== 'guest'"
      mat-icon-button
      [matMenuTriggerFor]="popUpMenu">
      <img class="user-avatar" [src]="headerSettings.authorizedUserData.avatar">
    </button>

    <mat-menu #popUpMenu="matMenu">
        <button
          mat-menu-item
          *ngFor="let button of headerModel"
          (click)="button.handler()">
          <span>{{ button.name }}</span>
        </button>
    </mat-menu>
  </div>

  <!-- TEMPLATE FOR MOBILE -->
  <div class="mobile">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu">
      <mat-icon *ngIf="headerSettings.authorizedUserData.role === userRole.GUEST" svgIcon="pop"></mat-icon>
      <img class="user-avatar" *ngIf="headerSettings.authorizedUserData.role !== 'guest'" [src]="headerSettings.authorizedUserData.avatar">
    </button>

    <mat-menu #menu="matMenu">
      <div *ngFor="let button of headerModel">
        <button
          mat-menu-item
          (click)="button.handler()">
          <span>{{ button.name }}</span>
        </button>
      </div>
    </mat-menu>
  </div>
</div>
