:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  background-color: white;
  height: 50px;
  color: #3F51B4;

  .user-avatar {
    width: 30px;
  }

  .header_logo {
    font-size: 22pt;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .search {
      width: 100%;
      height: 30px;
      margin: 3px 10px;
      font-size: 14pt;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      border-radius: 10px;
      border: 1px solid rgba(63, 81, 180, 0.44);
      background-color: rgba(63, 81, 180, 0.24);

      .search_input {
        width: 70%;
        height: 27px;
        color: #3F51B4;
        background: none;
        border: none;
        border-radius: 10px;
      }

      mat-icon {
        margin-bottom: 7px;
      }

    }

    .logo_item {
      margin-left: 10px;
    }

  }

  .mobile {
    display: none;
  }

  .sidenav {
    margin-left: 15px;
    height: 60px;
    width: 40px;
    cursor: pointer;
  }

  .header_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-right: 1.5%;
  }
  .button {
    margin-right: 15px;
    font-size: 12px;

    mat-icon{
      margin-bottom: 15px;
    }

  }

  @media (max-width: 700px) {

    .logo_item {
      display: none;
    }

    .sidenav {
      margin-left: 15px;
      margin-bottom: 25px;
      height: 20px;
      cursor: pointer;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60px;
      height: 40px;
      text-align: center;
    }

  }
}

