<div>
  <form 
    [formGroup]="loginForm" 
    (ngSubmit)="loginForm.valid ? submitForm(loginModel) : null" 
    class="auth"
  >
    <formly-form 
      [form]="loginForm" 
      [fields]="loginFields" 
      [model]="loginModel"
    >
    </formly-form>
    <button
      class="submit-button"
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      {{ 'auth.login' | translate }}
    </button>
  </form>
</div>
