:host{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 80px;
  align-items: center;
  color: #3F51B4;
  font-size: 13pt;
  position: fixed;
  z-index: 100;

  mat-form-field{
    margin-top: 10px;
    margin-left: 20px;
    color:#3F51B4;
    border: none;
  }

  .view_active{
    color: #3F51B4;
  }

  .view_disabled{
    color: rgba(63, 81, 180, 0.4);
    cursor: pointer;
  }

  @media (max-width: 1400px) {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
  }
}
