<div class="view">
  <span>View</span>
  <mat-icon
    *ngIf="sortDataBySmart.view == 'compact'"
    svgIcon="compact_view"
    class="view_active"
  >
  </mat-icon>
  <mat-icon
    *ngIf="sortDataBySmart.view != 'compact'"
    svgIcon="compact_view"
    class="view_disabled"
    (click)="changeVeiw('compact')"
  >
  </mat-icon>
  <mat-icon
    *ngIf="sortDataBySmart.view == 'classic'"
    svgIcon="classic_view"
    class="view_active"
  >
  </mat-icon>
  <mat-icon
    *ngIf="sortDataBySmart.view != 'classic'"
    svgIcon="classic_view"
    class="view_disabled"
    (click)="changeVeiw('classic')"
  >
  </mat-icon>
</div>
<div class="sort">
  <span>Sort</span>
  <mat-form-field>
    <mat-select>
      <mat-option
        *ngFor="let topping of toppingList"
        [value]="topping.tag"
      >
        <mat-icon svgIcon="{{topping.icon}}"></mat-icon>
        {{ topping.tag }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>



