<app-loader-init
  [isVisible]="(storeApp$ | async).isInitialSpinnerVisible"
></app-loader-init>

<mat-sidenav-container >

  <mat-sidenav #sidenav mode="push" class="sidenav">
    <div>
      <div *ngFor="let item of menuButton">
        <button
          class="sidenav_item"
          mat-flat-button
        >
          <mat-icon
            class="mainPage"
            svgIcon="{{ item.icon }}"
          >
          </mat-icon>
          {{ item.text }}
        </button>
      </div>
    </div>
    <div class="language">
      <span>Language:</span>
      <mat-form-field>
        <mat-select
          [value]="currentLanguage">
          <mat-option
            (click)="changeLanguage(lang.language)"
            *ngFor="let lang of [{viewLanguage: 'Russian', language: 'ru'}, {viewLanguage: 'English', language: 'eng'}]"
            [value]="lang.language">
            {{lang.viewLanguage}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <app-header
      [userRole]="userRole"
      [headerSettings]="(storeApp$ | async)"
      [sidenav]="sidenav"
      [headerModel]="(headerButtonsConfigs$ | async)"
    >
    </app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
