:host {
  ::ng-deep {
    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .language {
    align-items: center;
    display: flex;
    padding: 0 16px;
    span {
      margin-right: 10px;
      flex-grow: 1;
    }
  }

  .content {
    height: 100vh;
    width: 100vw;
    position: relative;
  }

  .sidenav {
    width: 300px;
  }

  .sidenav_item {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    color: #3F51B4;
    font-size: 14pt;
  }

  mat-icon {
    font-size: 20px;
    margin-bottom: 17px;
  }
}
