<div class="wrapper">
  <div class="container d-flex justify-content-center">
    <div class="authorization-container">
      <div>
        <mat-tab-group animationDuration="0ms"  >
          <mat-tab [label]="'auth.authorization' | translate">
            <app-login (loginFormData)="loginData($event)"></app-login>
          </mat-tab>

          <mat-tab [label]="'auth.reg' | translate">
            <app-registration (registrationFormData)="registrationData($event)"></app-registration>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

