.wrapper {
  background-image:  url("https://kwag.ca/sites/default/files/civicrm/persist/contribute/images/Expressions_42_SLee_LR-4963.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:host {
  > div {
    height: 100%;
  }
  .authorization-container {
    flex: 1 1;
    height: auto;
    display: flex;
    max-width: 400px;
    align-items: center;

    div {
      padding: 30px;
      border-radius: 5px;
      background-color: white;
      max-height: 500px;
    }

    ::ng-deep {
      app-login {
        height: 100%;
        flex: 1 1;
        display: flex;
        align-items: center;
      }
    }
  }
  .mat-tab-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
