:host{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


  .error{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 40px;
  }

  img {
    max-width: 400px;
  }

}
