.mat-spinner-background{
  filter: blur(8px);
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
  opacity: 0.9;
  position: absolute;
  z-index: 100;
}
.mat-spinner-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;

  .mat-spinner_item {
    margin-left: -50px;
    margin-top: -50px;
    top: 50%;
    left: 50%;
  }
}
